
<%= stylesheet_link_tag "style" %>
<%= javascript_include_tag "jquery-1.10.2" %>
<%= javascript_include_tag "timer" %>
  <img src="/MIN-DEATH.png" alt="mindesu" id="logo">
  <img src="/kimoneko.png" alt="kimoneko" id="kimoneko">
  <img src="/minndeath.png" alt="kimoneko" id="minDeath">
  <div class="joinButton">
    <img src="/joinUs.png" alt="JOIN US" id="joinUs">
  </div>

<script src="jquery-1.10.2.js"></script>
<script src="timer.js"></script>

