<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>Min-Death</title>
		<link href="./style.css" rel="stylesheet" type="text/css">
	</head>

	<body>
	  <img src="./img/MIN-DEATH.png" alt="みんです" id="logo">
	  <img src="./img/kimoneko.png" alt="きもねこ" id="kimoneko">
	  <img src="./img/みんなのデスマーチ.png" alt="きもねこ" id="minDeath">
	  <div class="joinButton">
	    <img src="./img/joinUs.png" alt="JOIN US" id="joinUs">
	  </div>
	</body>
	<script src="./jquery-1.10.2.js"></script>
	<script src="./timer.js"></script>
</html>		   
