<script>
function onClickLoad()
{
  $.get(
    'http://192.168.33.10:3000/tweets/more/'+localStorage['last_id'],
    function(data) {
      if(data.length !== 0) {
        data.forEach(function(d) {
          $('div#tweets').prepend('<div class="tweet-item"><p>' + d.text + '</p><p><button class="btn btn-sm btn-primary" style="background: none; color: #006dcc;">button1</button> <button class="btn btn-sm btn-danger" style="background: none; color: #ac2925;">button2</button></p></div>');
        });
        localStorage['last_id'] = data[data.length-1].id;
      }
    }
  );
};

function onClickSend()
{
  $.ajax({
    type: 'POST',
    url: 'http://192.168.33.10:3000/tweets',
    data: {
      text: $('#tweet').val()
    },
    success: function(data) {
      $('div#tweets').append(data);
      $('#tweet').val('');
      onClickLoad();
    },
    error: function(data) {
      alert('failed to send tweet: '+JSON.stringify(data));
    }
  });
};

/*
function onClickReaction(type)
{
  $this = $(this);
  $.ajax({
    type: 'POST',
    url: 'http://192.168.33.10:3000/tweets/'+$this.id,
    data: {
      reaction_type: type,
    },
    success: function(data) {
      
    },
    error: function(data) {
      
    }
  });
};
*/
</script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">logo</a>
      <div class="pull-right">
        <button class="btn btn-default" style="border-radius: 0 0 4px 4px;" onClick="onClickLoad()"><i class="fa fa-refresh"></i></button>
      </div>
    </div>
  </div>
</nav>


<style>
  body {
    background-color: #333;
  }
  .tweet-item {
    color: #eee;
    padding: 8px 16px;
    border-top: solid #d43f3a 1px;
  }
</style>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <div class="tweet-item">
      <p><%= tweet.text %></p>
      <p>
        <button class="btn btn-sm btn-primary">button1</button>
        <button class="btn btn-sm btn-danger" style="background:none; color: #d43f3a;">button2</button>
      </p>
    </div>
  <% end %>
</div>


<style>
  body {
    padding-top: 70px;
    padding-bottom: 70px;
  }
</style>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <form id="tweet-form" style="padding: 8px 0;">
      <div class="input-group">
      <textarea id='tweet' class="form-control" rows="1" placeholder='input tweet here'></textarea>
      <span class="input-group-btn">
      <input type="button" class="btn btn-primary" onClick="onClickSend()" value="send">
      </span>
      </div>
    </form>
  </div>
</nav>

<script>
  localStorage['last_id'] = <%= @tweets.first.id %>;
  setInterval(onClickLoad, 5000);
</script>
